.m10px {
    margin: 10px;
}
/*
.d-flex {
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-column {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}
.flex-wrap {
    flex-wrap: wrap;
}
*/
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 15px;
    /*padding: 10px 20px 10px 10px;*/
}

form button {
    height: 25px;
    min-width: 200px;
    background-color: azure;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
}

form label {
    font-size: 12px;
    color: #3e829d;
    font-weight: 500;
}

form input[type=text], form input[type=password], form input[type=email] {
    background-color: white !important;
    height: 37px;
    border-radius: 5px;
    padding: 10px;
    border: 1px #d5d5d5 solid;
}

input[type="checkbox" i] {
    width: 20px;
}

form select {
    background-color: white !important;
    height: 37px;
    border-radius: 5px;
    padding: 10px;
    border: 1px #d5d5d5 solid;
}

.text-center {
    text-align: center;
}

form h1 {
    font-size: 13px;
    color: #565656;
    padding: 10px;
    background-color: #e7e7e7;
}